.detail__content {
    display: flex;
}

.left__content {
    width: 42%;
    margin-left: 100px;
}

.shop__title {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.back__button {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.shop__name {
    font-size: 28px;
    margin-left: 15px;
}

.shop__image {
    width: 100%;
}

.shop__tag {
    margin-top: 30px;
    font-size: 18px;
}

.shop__description {
    font-size: 18px;
}

.right__content {
    background-color: rgb(0, 76, 255);
    width: 42%;
    height: 800px;
    margin-left: 100px;
    position: relative;
    top: -70px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.form__title {
    color: #fff;
    margin-left: 25px;
}

.date__input {
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 5px 10px;
    margin-left: 25px;
    border-radius: 5px;
    border: none;
}

.time__input {
    width: 85%;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    appearance: none;
    background: white url("../images/arrow_down.png") no-repeat right center;
    background-size: 30px;
}

.time__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.number__select {
    width: 85%;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    appearance: none;
    background: white url("../images/arrow_down.png") no-repeat right center;
    background-size: 30px;
}

.course__select {
    width: 85%;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    appearance: none;
    background: white url("../images/arrow_down.png") no-repeat right center;
    background-size: 30px;
}

.shop__information {
    width: 80%;
    background-color: rgb(0, 136, 255);
    color: #fff;
    margin-top: 35px;
    margin-left: 25px;
    border-radius: 5px;
}

.shop__information th {
    width: 150px;
    padding-left: 25px;
}

.shop__information tr:first-child th,
.shop__information tr:first-child td {
    padding-top: 25px;
}

.shop__information tr:last-child th,
.shop__information tr:last-child td {
    padding-bottom: 25px;
}

.shop__information tr {
    text-align: left;
    height: 30px;
}

.form__button {
    width: 100%;
    height: 70px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: auto;
    border-radius: 0 0 10px 10px;
}

.form__error {
    font-family: "Inter", serif;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #FD0707;
}

.review__contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 30px;
    padding: 10px 80px;
}

.review__content {
    width: 100%;
    height: 250px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    overflow-y: hidden;
}

.review__title {
    font-size: 30px;
    margin-left: 70px;
}

.review__user {
    font-weight: 500;
}

.review__star {
    text-align: center;
    font-size: 24px;
}

.review__comment {
    color: #979797;
    font-size: 14px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

@media (max-width: 768px) {
    .detail__content {
        flex-direction: column;
        width: 100%;
    }

    .left__content,
    .right__content {
        width: 80%;
        margin: 0 auto;
    }

    .left__content {
        margin-bottom: 100px;
    }
}