.user__name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.reservation__information {
    width: 35%;
    margin-right: 30px;
}

.information__tab {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reservation__tab,
.visited__tab {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.visited__tab {
    margin-left: 20px;
}

.active {
    color: #FD0707;
}

.information__inner {
    background-color: rgb(0, 76, 255);
    margin-bottom: 50px;
    padding: 30px 30px 45px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.information__inner--header {
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 20px;
}

.clock__image {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.inner__header--text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.delete__button {
    background-color: rgb(0, 76, 255);
    border: none;
    margin-left: auto;
}

.close__image {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.shop__information {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.shop__information th {
    padding-bottom: 20px;
    text-align: left;
}

.shop__information td {
    padding-bottom: 20px;
    padding-left: 50px;
}

.shop__information td input {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.shop__information td input::-webkit-calendar-picker-indicator {
    display: none;
}

.shop__information td select {
    background-color: rgb(0, 76, 255);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.update__button {
    text-align: right;
    margin-top: 10px;
}

.update__button--submit {
    width: 50px;
    height: 30px;
    background-color: #fff;
    color: rgb(0, 76, 255);
    border: none;
    font-size: 16px;
}

.visited__information {
    background-color: #fff;
}

.visited__shop--image {
    width: 100%;
}

.visited__shop--image img {
    width: 100%;
}

.visited__shop--information {
    padding: 5px 20px;
}

.visited__shop--name {
    font-size: 24px;
    font-weight: 700;
}

.visited__shop--area {
    color: #6c6c6c;
}

.visited__shop--genre {
    color: #6c6c6c;
}

.visited__shop--reservation {
    display: flex;
    background-color: #fff;
    font-size: 20px;
    padding: 0 20px;
}

.visited__reservation--title {
    margin-right: 20px;
    font-weight: 700;
}

.visited__shop--number {
    display: flex;
    background-color: #fff;
    padding-left: 20px;
    font-size: 20px;
}

.visited__number--title {
    margin-right: 60px;
    font-weight: 700;
}

.review__link {
    background-color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.review__link--button {
    text-decoration: none;
    background-color: rgb(0, 76, 255);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.liked__shops {
    width: 55%;
}

.liked__shops--title {
    font-size: 22px;
}

.liked__shop--cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 30px;
}

.shop__card {
    width: 90%;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.shop__card img {
    width: 100%;
    height: 50%;
}

.shop__name {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}

.shop__tag {
    margin-left: 20px;
    margin-top: 0;
    font-size: 14px;
}



.flex {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.detail__link {
    text-decoration: none;
    background-color: blue;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
}

.favorite__button {
    background-color: #fff;
    border: none;
}

.favorite__button img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.form__error {
    font-family: "Inter", serif;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #FD0707;
}

@media (max-width:768px) {
    .mypage__content {
        flex-direction: column;
        padding: 10px 50px;
    }

    .reservation__information {
        width: 100%;
    }

    .shop__information th {
        min-width: 70px;
    }

    .liked__shops {
        width: 100%;
    }

    .shop__card {
        width: 100%;
    }
}